     <div class="layout-inner">
      <div class="footer-left">
            <div class="about">
                <h4>About Brad</h4>
                <div class="about-image">
                    <img src="app/img/brad.png" alt="Brad Samuelson" />
                </div>
                <p>I've been creating comics for years and posting them online since 2008 with my first comic strip As the Grass Grows, and continuing with the sci-fi story Sector Four in 2013. When I'm not writing and drawing comics, I spend most of my time building websites and user interfaces or hanging out with my wife and two kids. </p>
            </div>
            <div class="copyright">Copyright &copy; 2018 Bradley Samuelson. All Rights Reserved. | <a href="privacy.html">Privacy Policy</a></div>
        </div>
        <div class="footer-right">
            <h4>More comics...</h4>
            <ul class="footerlinks">
                <li><a href="http://www.asthegrassgrows.com" target="_blank" title="As the Grass Grows">As the Grass Grows</a></li>
                <li><a href="http://www.sectorfour.com" target="_blank" title="Sector Four">Sector Four</a></li>
            </ul>
        </div>
     </div>